body {
    background-color: #5280C5;
    background-image: url("gradientblue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;

}


header {
    background-color: #000066;
    background-image: url("bigfish.gif");
    color: #F0F0F0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 100px;

}


main {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 180px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    border: 1px solid #AEC3E3;

}


h1 {
    line-height: 250%;
    text indent: 1em;
    margin-bottom: 0;
    font-size: 3em;
    padding: 0.2em;
    text-shadow: 1px 1px 2px #CCCCCC;

}


nav {
    text-align: center;
    font-weight: bold;
    text-align: initial;
    background-color: initial;
    padding: 5px;
    float: left;
    width:180px;

}


nav ul {
    
    list-style-type: none;

}


nav a {
    
    text-decoration: none;

}


nav a:link {
    
    color: #000066;

}


nav a:visited {
    
    color: #5280C5;

}


nav a:hover {
    
    color: #3262A3;

}


header, nav, main, footer {
    
    display: block;

}


dt {
    color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font family: Georgia;

}


footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    background-color: #AEC3E3;
    padding: 1em;
    margin-left: 180px;

}


img {

    border: none;

}


* {
    
    box-sizing: border-box;

}


#category {
    font-weight: bold;
    color:  #5380C5;
    font-family: Georgia;
    text-shadow: 1px 1px 1px #667;


}


#wrapper {
    width: 80%;
    min-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;


}






